.opacity {
	background-color:rgba(0,0,0,.6);
}
img {
	width: 50px;
	height: 50px;
	display: block;
	background-color: #fff;
	border: 1px solid #ccc;
	margin: 5px;
	padding: 5px;
}

.center div{
/*	top: 50%;
	left: 50%;*/
/*	margin-top: -300px;
	margin-left: -300px;*/
/*	width: 600px;
	height: 600px;*/
	padding: 15px;
	position: absolute;
	background-color: #fff;
	/*border: 2px solid olive;*/
	/*overflow: auto;*/
	margin: 30px;
}
.center img {
	width: 30em;
	height: 30em;
	margin: auto;
}
.center p {
	width: 550px;
	margin: 10px auto;
	font-size: 1em;
	text-align: justify;
}
.hidden, .hide{
	display: none;
}
.close {
	background-image: url(close.png);
	background-color: transparent!important;
	color: #ccc;
	-webkit-background-size: cover;
	background-size: cover;
	/*font-family: sans-serif;*/
	/*font-size: 3em;*/
	/*line-height: 0.5em;*/
	position: absolute;
	padding: 0;
	right: -35px;
	top: -35px;
}