@font-face {
	font-family: "Roboto-Regular";
	src: url("../font/roboto/Roboto-Regular.eot");
	src: url("../font/roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
			 url("../font/roboto/Roboto-Regular.woff") format("woff"),
			 url("../font/roboto/Roboto-Regular.ttf") format("truetype");
	font-family: "Roboto-Bold";
	src: url("../font/roboto/Roboto-Bold.eot");
	src: url("../font/roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
			 url("../font/roboto/Roboto-Bold.woff") format("woff"),
			 url("../font/roboto/Roboto-Bold.ttf") format("truetype");
	font-family: "Roboto-Light";
	src: url("../font/roboto/Roboto-Light.eot");
	src: url("../font/roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"),
			 url("../font/roboto/Roboto-Light.woff") format("woff"),
			 url("../font/roboto/Roboto-Light.ttf") format("truetype");			 			 
	font-style: normal;
	font-weight: normal;
}