@font-face {
    font-family: 'icon-font';
    src:    url('../fonts/icon-font.eot?jqj7fo');
    src:    url('../fonts/icon-font.eot?jqj7fo#iefix') format('embedded-opentype'),
        url('../fonts/icon-font.ttf?jqj7fo') format('truetype'),
        url('../fonts/icon-font.woff?jqj7fo') format('woff'),
        url('../fonts/icon-font.svg?jqj7fo#icon-font') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icon-font' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-monitor:before {
    content: "\e902";
}
.icon-pencils:before {
    content: "\e903";
}
.icon-phone:before {
    content: "\e904";
}
.icon-printer:before {
    content: "\e905";
}
.icon-down:before {
    content: "\e900";
}
.icon-menu:before {
    content: "\e901";
}
.icon-arrow-right:before {
    content: "\e906";
}
.icon-arrow-left:before {
    content: "\e907";
}
.icon-behance6:before {
    content: "\e908";
}
.icon-dribbble:before {
    content: "\e909";
}
.icon-facebook2:before {
    content: "\e90a";
}
.icon-google-plus:before {
    content: "\e90b";
}
.icon-twitter:before {
    content: "\e90c";
}