html {
    min-width: 1008px;
    margin: 0;
    padding: 0;
}
body {
    width: 960px;
    height: 100%;
    margin: 0 auto;
    padding:0;
    display: block;
    position: relative;
}
* {
    font-family: Arial, serif;
    font-size: 14px;
    line-height: 22px;
}
img {
    border: none;
}
hr {
    margin: 23px 0;
    padding:0;
}
#header {
    /*overflow: hidden;*/
    color: white;
    margin: 20px 0;
    /*position: absolute;*/
    top: 0;
}
#left {
    display: block;
    float: left;
    overflow: hidden;
    width: 184px;
    margin-right: 20px;
    margin-bottom: 15px;
    /* margin-top: 20px;*/
    position: relative;
}
#content {
    /*margin-top: 152px;*/
    margin-bottom: 200px;
    position: relative;
}
#center {
    display: block;
    overflow: hidden;
    margin-top: 20px;
}
.logo {
    width: 122px;
    height: 108px;
    position: relative;
}
#no1 {
    display: inline;
    float: left;
}
#no2 {
    width: 279px;
    height: 108px;
    background-color: grey;
    display: inline;
    float: left;
    margin: 0 23px;
}
#no3 {
    display: inline;
    float: right;
    text-align: right;
    width: 513px;
    height: 108px;
    background-color: gray;
    color: #ffffff;
}
#no3 p{
    color: #ffffff;
    margin: 23px;
    line-height: 4px;
}
#no3 a{
    color: #ffffff;
    line-height: 9px;
}
#no4 {
    background-color: gray;
    width: 185px;
    position: relative;
    top: 0;
    margin-bottom: 20px;
    padding: 5px 0;
}
#no4 a{
    color: #ffffff;
    display: block;
    text-decoration: none;
    margin: 5px 15px;
}
#no4 a:hover{
    color: #ffffff;
    display: block;
    font-weight: bold;
}
#no5 {
    padding: 15px;
    background-color: #dcdcdc;
    color: gray;
    margin-bottom: 20px;
}
#no6 img {
    /*display: inline;*/
    float: left;
    margin-left: 25px;
    margin-bottom: 20px;
}
/*#no6 img:first-child {
    margin-left: 0px;
}*/
#no6 img:nth-child(5n+1) {
    margin-left: 0;
}

#no7 {
    position: absolute;
    bottom: 0;
    margin-left: -204px;
    margin-bottom: 20px;
}
#no8 {
    display: inline;
    float: left;
    margin-right: 17px;
    height: 200px;
    width: 367px;
    background-color: #dcdcdc;
    color: gray;
    text-align: justify;
    bottom: 0;
}
#no8 p, #no9 p {margin: 15px;}
#no9 {
    background-color: #dcdcdc;
    color: gray;
    height: 200px;
    width: 370px;
    text-align: justify;
    display: inline;
    float: left;
    bottom: 0;

}
#no10 {
    background-color: gray;
    color: white;
    width: 297px;
    height: 181px;
    margin-right: 27px;
    position: relative;
    display: inline;
    float: left;
}
#no10 ul{
    display: inline;
    float: left;
    list-style: none;
}
#no11 {
    background-color: gray;
    color: white;
    width: 297px;
    height: 181px;
    margin-right: 27px;
    /*margin-left: 325px;*/
    position: relative;
    display: inline;
    float: left;
}
#no11 ul{
    list-style: square;
    margin: 18px;
}
#no12 {
    background-color: gray;
    height: 77px;
    width: 310px;
    margin-bottom: 27px;
    margin-left: 650px;
}
#no13 {
    /*margin-left: 650px;*/
    display: inline;
}
.clear {
    clear: both;
}
#footer {
    height: 181px;
    /*margin: 23px auto;*/
    position: absolute;
    bottom: 0;
}